@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font-family: Poppins;
}

@layer components {
    /* .btn-primary {
        @apply py-1.5 px-3 text-center bg-blue-700 rounded-md text-white;
    } */
  }

  .slide-fade-enter-active,
  .slide-fade-leave-active {
      transition: all 0.3s ease;
  }

  .slide-fade-enter,
  .slide-fade-leave-to {
      transform: translateY(-10px);
      opacity: 0;
  }

  .highlight {
      background-color: yellow;
  }

  .hidden {
      display: none;
  }
.feature-item:hover{
    scale: 1.03;
    /* color: #c7ae6a; */
}

.lastRow-updateProfile{
    grid-template-columns: 1fr;
}
/* For small device(below <768px) */
.lastRow{
    display: grid;
    grid-template-columns: 1fr;
}


@media (min-width: 768px) {
    .lastRow{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .lastRow-updateProfile{
        grid-template-columns:.5fr 1fr;
    }
  }

@media (min-width: 1024px) {
    .lastRow{
        display: grid;
        grid-template-columns: 1fr 1.8fr 1.2fr;
    }
    .chat-ui{
        grid-template-columns: 1.2fr 2fr;
    }

    .lastRow-updateProfile{
        grid-template-columns: .8fr 2fr;
    }
  }
